/* RESET */
html,body { height: 100%; } 
body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul { margin:0; padding:0 } 
body, button, input, select, table, textarea { font-size:12px; line-height:16px; color:#202020; font-family:-apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif } 
h1, h2, h3, h4, h5, h6 { font-size:inherit; line-height:inherit } 
textarea { -webkit-backface-visibility:hidden; backface-visibility:hidden; background-color:transparent; border:0; word-break:keep-all; word-wrap:break-word } 
button, input { -webkit-border-radius:0; border-radius:0; border:0 } 
button { background-color:transparent; cursor: pointer; } 
fieldset, img { border:0 } 
img { vertical-align:top } 
ol, ul { list-style:none } 
address, em { font-style:normal } 
a { color:inherit; text-decoration:none } 
a:hover { text-decoration:underline } 
iframe { overflow:hidden; margin:0; border:0; padding:0; vertical-align:top } 
mark { background-color:transparent } 
i { font-style:normal } 

#app { display: flex; flex-direction: column; height: 100%; } 
/* BOARD */
#header { display: flex; justify-content: space-between; align-items: center; height: 60px; padding: 0 40px; background-color: #000; box-shadow: 0 5px 20px 5px rgba(0,0,0,0.1); color: #fff; } 
#header h1 { font-size: 25px; line-height: 1; color: inherit; } 
#header .btn-menu { font-size: 20px; line-height: 1; color: inherit; font-weight: bold; } 

#board { display: flex; gap: 20px; margin: 20px 30px 80px; height: 100%; } 

.group { flex-shrink: 0; width: 320px; background-color: #EFF1F3; border: 1px solid #ddd; border-radius: 10px; padding: 12px; box-sizing: border-box; } 
.group-header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 12px; } 
.group-header h2 { font-size: 16px; } 
.group-header .buttons button { width: 26px; height: 26px; font-size: 26px; text-align: right; color: #666; } 
.group-header .buttons .btn-toggle:hover { color: gray; } 
/* .group-body { display: none; } */
.group-body .task-title { margin-bottom: 5px; border: 1px solid #ddd; border-radius: 3px; width: 100%; height: 50px; padding: 5px 10px; background: #fff; box-sizing: border-box; } 
.group-body .task-assignee { border: 1px solid #ddd; border-radius: 3px; width: 100%; height: 25px; padding: 5px 10px; background: #fff; box-sizing: border-box; } 
.group-body .buttons { margin: 10px 0 15px; display: flex; gap: 10px; } 
.group-body .buttons button { border-radius: 3px; width: 50%; height: 34px; font-weight: bold; } 
.group-body .buttons .btn-add { border: 1px solid #34A54F; background: linear-gradient(0deg, #2EA148, #3DCC5C); color: #fff; } 
.group-body .buttons .btn-add:disabled { opacity: 0.5; } 
.group-body .buttons .btn-cancel { border: 1px solid #C7CBCD; background-color: #F1F4F7; } 

.group-footer { display: flex; flex-direction: column; gap: 5px; } 
.task { position: relative; border: 1px solid #ddd; border-radius: 5px; margin: auto; width: 100%; padding: 10px; background: #fff; box-sizing: border-box; cursor: pointer; } 
.task .task-title { margin-bottom: 10px; padding-right: 30px; } 
.task .task-assignee { padding-right: 30px; } 
.task .task-assignee small { color: gray; } 
.task .btn-delete { position: absolute; right: 10px; top: 0; width: 30px; height: 30px; color: #666; font-size: 30px; line-height: 30px; text-align: right; } 

.dragging { opacity: 0.5; } 
.open { display: block; } 