
#main { position: relative; margin-top: 30px; } 

.box { position: absolute; display: flex; flex-direction: column; width: 250px; } 
.box-title { margin: 10px; } 
.box-content { height: 100%; font-size: 14px; border: 1px solid #000; box-sizing: content-box; } 
.box-content div { display: flex; align-items: center; justify-content: space-between; flex-shrink: 0; height: 60px; padding: 0 10px; letter-spacing: -.5px; font-weight: bold; border: 1px dashed #000; } 

.stack-area { top: 0; left: 282px; height: 330px; } 
.webapis-area { top: 0; left: 570px; height: 330px; } 

.eventloop-area { top: 347px; left: 404px; width: 150px; height: 80px; text-align: center; } 
.eventloop-area .box-title { text-align: center; } 
.eventloop-area .material-symbols-outlined { font-size: 80px; } 

.macro-area { top: 350px; left: 570px; width:500px; height: 160px; } 
.micro-area { top: 510px; left: 570px; width:500px; height: 160px; } 
.macro-area .box-content,.micro-area .box-content { display: flex; } 
.macro-area .box-content div,
.micro-area .box-content div { width: 80px; height: 100%; } 

.console-area { top: 0; left: 0; height: 670px; } 
.console-area button { position: absolute; top: 10px; right: 0; } 

.syncFunc { background-color: rgba(0, 106, 255, 0.32) } 
.asyncMacroTask { background-color: rgba(255, 213, 0, 0.5) } 
.asyncMicroTask { background-color: rgba(255, 0, 0, 0.37) } 

#buttons button { margin-top: 10px;; width: 200px; height: 50px; vertical-align: bottom; } 

/* icon */
.material-symbols-outlined { font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24 } 
.material-symbols-outlined.on { animation: rotate .9s linear; } 
.eventloop-area .material-symbols-outlined.on { animation: rotate 1s linear infinite; } 

@keyframes rotate { 
 0% { transform: rotate(0deg); } 
 100% { transform: rotate(360deg); } 
 }